#wrapper
{
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container
{
    display: flex;
    flex-direction: column;
    width: 700px;
    color: var(--text-color);
}

#loading-wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

#loading-wrapper > svg
{
    --icon-size: 65px;
}

#loading-wrapper > svg > circle
{
    stroke: var(--loading-color);
}