#wrapper
{
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container
{
    display: flex;
    flex-direction: column;
    width: 700px;
    color: var(--text-color);
}