#wrapper
{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

#container
{
    display: flex !important;
    flex-direction: column !important;
    width: 700px !important;
    --image-max-width: 665px !important;
    color: var(--text-color) !important;
    font-family: var(--book-font) !important;
    font-size: var(--book-font-size) !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: var(--book-margin-bottom) !important;
    padding: 0 !important;
    height: auto !important;
    position: relative !important;
}

.container-fixed-color *
{
    color: var(--text-color) !important;
}

#loading-wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#loading-wrapper > svg
{
    --icon-size: 65px !important;
}

#loading-wrapper > svg > circle
{
    stroke: var(--loading-color);
}

#container svg
{
    --icon-size: auto;
}

#container img,
#container image,
#container picture > source
{
    max-width: var(--image-max-width);
    height: auto;
    cursor: pointer;
}
