#wrapper
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#page-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 51px);
    margin-left: 30px;
    margin-top: 22px;
}

#menu-wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    --menu-wrapper-height: 37px;
    height: var(--menu-wrapper-height);
    min-height: var(--menu-wrapper-height);
    max-height: var(--menu-wrapper-height);
    user-select: none;
    margin-bottom: 35px;
}

#menu-left
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-element
{
    color: var(--new-tab-menu-element);
    cursor: pointer;
    font-weight: 600;
    font-size: 26px;
    margin-right: 35px;
    transition: color 0.125s linear;
}

.menu-element:not(.menu-element-active):hover
{
    color: var(--new-tab-menu-element-hover);
}

.menu-element-active
{
    color: var(--new-tab-menu-element-active);
}

.menu-element-active:not(.menu-element-categories)
{
    cursor: default !important;
}

#menu-right
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu-search
{
    --menu-search-width: 177px;
    --menu-search-height: 31px;
    width: var(--menu-search-width);
    min-width: var(--menu-search-width);
    max-width: var(--menu-search-width);
    height: var(--menu-search-height);
    min-height: var(--menu-search-height);
    max-height: var(--menu-search-height);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    --placeholder-color: var(--search-placeholder-color);
    --placeholder-hover: var(--search-placeholder-hover);
    --active-color: var(--search-active-color);
}

#menu-search > input
{
    width: calc(100% - 27px);
    height: inherit;
    border: none;
    outline: none;
    appearance: none;
    padding-left: 27px;
    background: transparent;
    color: var(--active-color);
    font-size: 14px;
    font-weight: 600;
}

#menu-search > input::placeholder
{
    color: var(--placeholder-color);
    transition: color 0.125s linear;
}

#menu-search-icon
{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 4px;
    top: 0;
    bottom: 0;
    height: inherit;
    --menu-search-icon-size: 12px;
    width: var(--menu-search-icon-size);
    pointer-events: none;
}

#menu-search-icon > svg
{
    --icon-size: var(--menu-search-icon-size);
    fill: var(--placeholder-color);
    transition: fill 0.125s linear;
}

#menu-search > input:not(:placeholder-shown) + #menu-search-icon > svg
{
    fill: var(--active-color) !important;
}

#menu-search > input:placeholder-shown:hover + #menu-search-icon > svg,
#menu-search > input:placeholder-shown:focus + #menu-search-icon > svg
{
    fill: var(--placeholder-hover);
}

#menu-search > input:hover::placeholder,
#menu-search > input:focus::placeholder
{
    color: var(--placeholder-hover);
}

#view-type-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.view-type-button
{
    --view-type-size: var(--menu-wrapper-height);
    width: var(--view-type-size);
    min-width: var(--view-type-size);
    max-width: var(--view-type-size);
    height: var(--view-type-size);
    min-height: var(--view-type-size);
    max-height: var(--view-type-size);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.view-type-button > svg
{
    --icon-size: 13px;
    fill: var(--view-type-button-icon);
    transition: fill 0.125s linear;
}

.view-type-button:hover > svg
{
    fill: var(--view-type-button-icon-hover);
}

.view-type-button-active
{
    cursor: default;
}

.view-type-button-active > svg
{
    fill: var(--view-type-button-icon-active) !important;
}

@media screen and (min-width: 1920px)
{
    .grid-view
    {
        width: calc(100% + 75px) !important;
        margin-left: 75px !important;
    }

    .book-card
    {
        margin-right: 75px !important;
    }
}

.grid-view
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 65px);
    margin-left: 65px;
}

.book-card
{
    --book-card-width: 118px;
    --book-card-height: 234px;
    widtH: var(--book-card-width);
    min-widtH: var(--book-card-width);
    max-widtH: var(--book-card-width);
    height: auto;
    max-height: var(--book-card-height);
    margin-right: 65px;
    margin-bottom: 40px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    transition: margin-right 0.125s linear;
}

.book-cover
{
    --book-cover-width: 118px;
    width: var(--book-cover-width);
    min-width: var(--book-cover-width);
    max-width: var(--book-cover-width);
    height: 175px;
    background-size: contain;
    background-repeat: no-repeat;
}

.book-cover > img
{
    width: inherit;
    height: inherit;
}

.book-card-info
{
    display: flex;
    flex-direction: column;
    max-height: 59px;
    height: auto;
}

.book-card-title, .book-card-author
{
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
}

.book-card-title
{
    -webkit-line-clamp: 2;
    margin-top: 8px;
    color: var(--text-color);
    font-weight: 600;
}

.book-card-author
{
    margin-top: 3px;
    -webkit-line-clamp: 1;
    color: var(--subtext-color);
    word-break: break-all;
}

.book-custom-cover
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-cover-border
{
    position: absolute;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    border: solid 1px rgb(255, 255, 255, 0.15);
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
}

.book-cover-title, .book-cover-author
{
    font-size: 12px;

    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.book-cover-title
{
    margin-top: 28px;
    -webkit-line-clamp: 4;
    font-weight: 600;
    width: 88px;
    max-width: 88px;
    color: white;
    word-break: break-word;
}

.book-cover-author
{
    position: absolute;
    /* height: 18px; */
    bottom: 18px;
    width: 96px;
    max-width: 96px;
    -webkit-line-clamp: 2;
    word-break: keep-all;
    color: rgb(222, 222, 222);
}

#no-result-warning
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#no-result-text
{
    font-weight: 600;
    font-size: 23px;
    color: var(--text-color)
}

.list-view
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book-list-element
{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    height: 200px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(64, 64, 64);
}

.book-list-element:last-child
{
    border-bottom: none !important;
    margin-bottom: 0px !important;
}

.book-element-wrapper
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 175px;
}

.book-element-right
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.book-element-right > *:not(:last-child)
{
    margin-bottom: 16px;
}

.book-element-right > *
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    font-weight: 600;
}

.book-element-title
{
    color: var(--text-color);
    -webkit-line-clamp: 3;
    font-size: 16px;
    font-weight: 600;
}

.book-element-authors
{
    color: var(--subtext-color);
}

.book-element-authors,
.book-element-publisher,
.book-element-percent
{
    font-size: 14px;
    -webkit-line-clamp: 1;
}

.book-element-publisher,
.book-element-percent
{
    color: var(--book-list-element-metadata-color);
}

#categories-page
{
    width: 100%;
}

#categories-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categories-list-element
{
    display: flex;
    flex-direction: row;
    align-items: center;
    --categorist-list-element-height: 60px;
    height: var(--categorist-list-element-height);
    min-height: var(--categorist-list-element-height);
    max-height: var(--categorist-list-element-height);
    user-select: none;
    margin-bottom: 10px;
    cursor: pointer;
    width: fit-content;
}

.categories-element-cover
{
    --categories-element-cover-size: 40px;
    width: var(--categories-element-cover-size);
    min-width: var(--categories-element-cover-size);
    max-width: var(--categories-element-cover-size);
    height: var(--categories-element-cover-size);
    max-height: var(--categories-element-cover-size);
    min-height: var(--categories-element-cover-size);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(124, 124, 124);
}

.categories-element-cover > .book-cover
{
    transform: scale(0.35);
}

.categories-element-data
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    overflow: hidden;
}

.categories-element-name
{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.categories-element-number
{
    font-size: 14px;
    color: var(--subtext-color);
}

.categories-element-delete
{
    margin-left: 35px;
    overflow: hidden;
}

.categories-element-delete > svg
{
    --icon-size: 10px;
    fill: var(--category-button);
    transition: fill 0.125s linear;
}

.categories-element-delete:hover > svg
{
    fill: var(--category-button-hover);
}

#category-wrapper
{
    display: flex;
    flex-direction: column;
}

#category-header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    --category-header-height: 30px;
    height: var(--category-header-height);
    min-height: var(--category-header-height);
    max-height: var(--category-header-height);
}

#category-name
{
    color: var(--subtext-color);
    background: transparent;
    border: none;
    outline: none;
    appearance: none;
    font-weight: 600;
    font-size: 23px;
    width: 100%;
}

#category-header-left, #category-name
{
    width: 100%;
}

#category-header-left,
#category-header-right
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#category-back-button
{
    --back-button-width: 20px;
    width: var(--back-button-width);
    max-width: var(--back-button-width);
    min-width: var(--back-button-width);
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#category-back-button > svg
{
    --icon-size: 14px;
    fill: var(--category-button);
    transform: rotate(180deg);
    transition: fill 0.125s linear;
}

#category-back-button:hover > svg
{
    --icon-size: 14px;
    fill: var(--category-button-hover);
}

#category-header-right > *:first-child
{
    margin-right: 15px;
}

#category-wrapper .grid-view
{
    margin-left: 0px !important;
}

#category-wrapper .grid-view,
#category-wrapper .list-view
{
    margin-top: 35px;
}