#wrapper
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#page-content
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 25px;
    width: auto;
}

#page-title
{
    font-weight: 600;
    font-size: 26px;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    user-select: none;
}

#container
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.setting
{
    display: flex;
    flex-direction: column;
    user-select: none;
    --blue-color: #0A54C2;
    margin-bottom: 30px;
    --setting-width: 195px;
    --setting-height: 28px;
}

.setting-name
{
    color: var(--text-color);
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 12px;
}

.dropdown-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: border-color 0.125s linear;
}

.dropdown-wrapper,
.input-setting,
.path-input,
.slider-text
{
    width: var(--setting-width);
    min-width: var(--setting-width);
    max-width: var(--setting-width);
    height: var(--setting-height);
    min-height: var(--setting-height);
    max-height: var(--setting-height);
    background: var(--setting-background);
    border: 1px solid var(--setting-border);
    border-radius: 3px;
}

.dropdown-selected
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 14px);
    overflow: hidden;
}

.dropdown-selected-name
{
    color: var(--text-color);
    font-size: 12px;
}

.dropdown-selected > svg
{
    fill: var(--setting-dropdown-icon);
    --icon-size: 8px;
    transform: rotate(90deg);
}

.dropdown-container
{
    position: absolute;
    width: inherit;
    max-width: inherit;
    min-width: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 30px;
    background: inherit;
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 2px 2px;
}

.dropdown-option
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
    font-size: 12px;
    padding: 10px 0px 10px 7px;
    transition: background-color 0.08s linear;
}

.dropdown-option:hover
{
    background: var(--setting-dropdown-hover);
}

.dropdown-active-option
{
    cursor: default;
    background: var(--setting-dropdown-active) !important;
}

.input-setting,
.path-input,
.slider-text
{
    outline: none;
    padding: 0px 7px;
    font-family: 12px;
    color: var(--text-color);
    --setting-width: calc(195px - 14px);
}

.input-setting:focus,
.slider-text:focus
{
    border-color: var(--blue-color);
}

.path-wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.path-input
{
    --setting-width: calc(250px - 14px);
    font-size: 12px;
    color: var(--subtext-color);
}

.browse-button
{
    margin-left: 20px;
    font-size: 11px;
    border-radius: 4px;
    --button-background: var(--setting-browse-button-bg);
    --button-background-hover: var(--setting-browse-button-hover);
    border: 1px solid var(--setting-browse-button-border);
    --button-color: var(--text-color);
    --button-color-hover: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
}

.browse-button:hover
{
    border-color: var(--setting-browse-button-border-hover);
}

.slider-wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider
{
    outline: none;
    appearance: none;
    height: 4px;
    width: 132px;
    border-radius: 8px;
}

.slider::-webkit-slider-thumb
{
    width: 14px;
    height: 14px;
    appearance: none;
    background: var(--app-background);
    border-radius: 50%;
    border: 2px solid var(--setting-slider-active);
}

.slider-text
{
    margin-left: 15px;
    --setting-width: calc(35px - 14px);
    text-align: center;
}

.checkbox
{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid var(--setting-checkbox-border);
    background: transparent;
    transition: border-color 0.125s linear, background-color 0.125s linear;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkbox-checked
{
    --checkbox-checked-color: rgb(22, 105, 230);
    --setting-checkbox-border: var(--checkbox-checked-color) !important;
    background: var(--checkbox-checked-color) !important;
}

.checkbox > svg
{
    --icon-size: 14px;
    fill: white;
}