#wrapper
{
    z-index: 1001;
    overflow: hidden;
    height: inherit;
    max-width: calc(100% - 300px);
    position: relative;
}

#container
{
    width: inherit;
    height: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    -webkit-app-region: no-drag;
}

.tab
{
    --tab-width: 170px;
    font-size: 11px;
    height: 33px;
    width: var(--tab-width);
    min-width: var(--tab-width);
    max-width: var(--tab-width);
    border-radius: 5px 5px 0px 0px;
    position: relative;
    cursor: default;
    z-index: 1;
    user-select: none;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 0.125s linear;
}

.tab-content
{
    height: 15px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.tab-content-left
{
    --tab-content-left-width: calc(100% - 12px);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
    width: var(--tab-content-left-width);
    min-width: var(--tab-content-left-width);
    max-width: var(--tab-content-left-width);
}

.tab-icon
{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    --tab-icon-width: 9px;
    --tab-icon-height: 13px;
    width: var(--tab-icon-width);
    min-width: var(--tab-icon-width);
    max-width: var(--tab-icon-width);
    height: var(--tab-icon-height);
    min-height: var(--tab-icon-height);
    max-height: var(--tab-icon-height);
    margin-right: 10px;
}

.tab-title
{
    color: rgb(197, 197, 197);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.active .tab-title
{
    /* color: rgb(240, 240, 240); */
}

.active
{
    background: #000;
}


#scrollbar
{
    height: 7px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-app-region: no-drag;
    /* z-index: -2; */
}

#scrollbar-thumb
{
    /* width: 100px; */
    height: 7px;
    position: absolute;
    background: rgb(50, 50, 50);
    cursor: default;
    z-index: 2;
    border-radius: 10px;
}

#new-tab-button
{
    --new-tab-button-width: 26px;
    --new-tab-button-height: inherit;
    width: var(--new-tab-button-width);
    min-width: var(--new-tab-button-width);
    max-width: var(--new-tab-button-width);
    height: var(--new-tab-button-height);
    min-height: var(--new-tab-button-height);
    max-height: var(--new-tab-button-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    position: relative;
}

#new-tab-button::after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: var(--new-tab-button-width);
    min-width: var(--new-tab-button-width);
    max-width: var(--new-tab-button-width);
    height: var(--new-tab-button-width);
    min-height: var(--new-tab-button-width);
    max-height: var(--new-tab-button-width);
    transition: background-color 0.1s linear;
    z-index: 1;
}

#new-tab-button > svg 
{
    --icon-size: 10px;
    fill: #b4b4b4;
    transition: fill 0.1s linear;
    z-index: 2;
}

#new-tab-button:hover::after
{
    background-color: rgb(70, 70, 70);
}

#new-tab-button:hover > svg 
{
    fill: white !important;
}

.tab-right-line
{
    background-color: rgb(45, 45, 45);
    width: 1px;
    height: 21px;
    position: absolute;
    right: 0;
    transition: background-color 0.125s linear;
}

.tab:not(.active):hover
{
    background-color: rgb(50, 50, 50);
}

.tab:not(.active):hover .tab-right-line
{
    background-color: rgb(50, 50, 50);
}

.close
{
    --tab-close-button-size: 9px;
    width: var(--tab-close-button-size);
    min-width: var(--tab-close-button-size);
    max-width: var(--tab-close-button-size);
    height: var(--tab-close-button-size);
    min-height: var(--tab-close-button-size);
    max-height: var(--tab-close-button-size);
    /* pointer-events: none;
    opacity: 0; */
    transition: opacity 0.125s linear;
}

.close > svg
{
    --icon-size: var(--tab-close-button-size);
    fill: rgb(146, 146, 146);
}

.close:hover > svg
{
    fill: white;
    transition: fill 0.125s linear;
}

.tab:hover .close
{
    opacity: 1;
    pointer-events: all;
}

.tab:first-child
{
    margin-left: 10px;
}