.button
{
    outline: none;
    border: none;
    appearance: none;
    padding: 10px 20px;
    font-weight: 600;
    --buton-color: white;
    color: var(--buton-color);
    --button-background: rgb(50, 50, 50);
    background-color: var(--button-background);
    border-radius: 9999px;
    font-size: 12px;
    cursor: pointer;
    --button-background-hover: rgb(35, 35, 35);
    --buton-color-hover: white;
    transition: background-color 0.125s linear, color 0.125s linear;
    user-select: none;
}

.button:hover, .button:focus
{
    background-color: var(--button-background-hover) !important;
    color: var(--buton-color-hover) !important;
}

.button > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button svg
{
    fill: white;
    --icon-size: 11px;
    margin-right: 8px;
}

/*
 * Custom button styles
 */

.import-book
{
    --button-background: #0A54C2;
    --button-background-hover: #074199;
    height: 37px;
    font-size: 13px;
}

.red
{
    --button-background: #C20A0A;
    --button-background-hover: #a00b0b;
}