.button
{
    outline: none;
    border: none;
    appearance: none;
    padding: 10px 20px;
    font-weight: 600;
    --button-color: white;
    color: var(--button-color);
    --button-background: rgb(50, 50, 50);
    background-color: var(--button-background);
    border-radius: 9999px;
    font-size: 12px;
    cursor: pointer;
    --button-background-hover: rgb(35, 35, 35);
    --button-color-hover: white;
    transition: background-color 0.125s linear, color 0.125s linear, border-color 0.125s linear;
    user-select: none;
    width: fit-content;
}

.button:hover, .button:focus
{
    background-color: var(--button-background-hover) !important;
    color: var(--button-color-hover) !important;
}

.button > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button svg
{
    fill: white;
    --icon-size: 11px;
    margin-right: 8px;
}

/*
 * Custom button styles
 */

.import-book,
.create-category
{
    --button-background: #0A54C2;
    --button-background-hover: #074199;
    height: 37px;
    font-size: 13px;
}

.create-category
{
    margin-bottom: 20px;
    height: auto !important;
}

.red
{
    --button-background: #C20A0A;
    --button-background-hover: #a00b0b;
}

.grey
{
    --button-background: var(--grey-button-bg);
    --button-background-hover: var(--grey-button-bg-hover);
    --button-color: var(--grey-button-text);
    --button-color-hover: var(--grey-button-text);
}

.grey-2
{
    --button-background: var(--grey-2-button-bg);
    --button-background-hover: var(--grey-2-button-hover);
    --button-color: white;
    --button-color-hover: white;
}