@keyframes contextWrapperFadeIn
{
    0%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
    }
}

#context-wrapper
{
    position: fixed;
    outline: none;
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.25);
    animation: contextWrapperFadeIn 0.09s linear forwards;
}

#book-context-menu
{
    background: var(--context-menu-background);
    --context-width: 216px;
    border-radius: 5px;
    width: var(--context-width);
    min-width: var(--context-width);
    max-width: var(--context-width);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#context-container
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 4px 0px;
}

.element
{
    --context-element-width: 216px;
    --context-element-height: 32px;
    width: var(--context-element-width);
    max-width: var(--context-element-width);
    min-width: var(--context-element-width);
    height: var(--context-element-height);
    min-height: var(--context-element-height);
    max-height: var(--context-element-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    overflow: hidden;
    user-select: none;
}

.element:hover
{
    background: var(--context-menu-hover);
}

.element > svg
{
    --icon-size: 12px;
    fill: var(--text-color);
    margin-right: 12px;
}

.element > *:first-child
{
    margin-left: 15px;
}

.element-text
{
    color: var(--text-color);
    font-size: 12px;
}

.delete-element > svg
{
    fill: var(--context-menu-delete) !important;
}

.delete-element > .element-text
{
    color: var(--context-menu-delete) !important;
}