@keyframes wrapperFadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes wrapperFadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}


#wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: wrapperFadeIn 0.325s forwards; 
}

#background
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

#wrapper > div:not(#background)
{
    z-index: 1001;
    box-shadow: 0px 0px 18px 11px rgba(0, 0, 0, 0.25);
    width: var(--modal-width);
    min-width: var(--modal-width);
    max-width: var(--modal-width);
}

.wrapper-closing
{
    animation: wrapperFadeOut 0.125s linear forwards !important;
    pointer-events: none !important;
}

#deletion-warning
{
    --modal-width: 230px;
    height: auto;
    background: var(--modal-background);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    user-select: none;
}

#deletion-warning-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
}

#deletion-warning-container > svg
{
    --icon-size: 40px;
    margin-bottom: 30px;
    fill: var(--deletion-modal-icon);
}

#deletion-warning-text
{
    color: var(--text-color);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
}

#deletion-warning-buttons
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.delete-button
{
    margin-bottom: 10px;
}

.delete-button,
.deletion-cancel-button
{
    width: 100% !important;
}


#manage-categories,
#toc
{
    background: var(--modal-background);
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 5px;
}

#manage-categories 
{
    --modal-width: 386px;
    max-height: 314px;
}

#toc
{
    --modal-width: 500px;
}

#manage-categories-content,
#toc-content
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    user-select: none;
}

#manage-categories-title,
#toc-title
{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 15px;   
}

#manage-categories-container,
#toc-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    overflow-x: hidden;
}

#manage-categories-container
{
    max-height: 195px;
}



@media screen and (min-height: 500px)
{
    #toc
    {
        max-height: 440px;
    }
    #toc-container
    {
        max-height: calc(440px - 119px);
    }
}

@media screen and (min-height: 700px)
{
    #toc
    {
        max-height: 540px;
    }
    #toc-container
    {
        max-height: calc(540px - 119px);
    }
}

@media screen and (min-height: 800px)
{
    #toc
    {
        max-height: 640px;
    }
    #toc-container
    {
        max-height: calc(640px - 119px);
    }
}

@media screen and (min-height: 900px)
{
    #toc
    {
        max-height: 740px;
    }
    #toc-container
    {
        max-height: calc(740px - 119px);
    }
}

@media screen and (min-height: 1000px)
{
    #toc
    {
        max-height: 940px;
    }
    #toc-container
    {
        max-height: calc(840px - 119px);
    }
}


.manage-categories-container-full
{
    overflow-y: scroll;
}

.manage-categories-item
{
    --element-height: 35px;
    height: var(--element-height);
    min-height: var(--element-height);
    max-height: var(--element-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.manage-categories-item-name
{
    color: var(--text-color);
    font-size: 14px;
}

.manage-categories-item:not(:last-child)
{
    margin-bottom: 5px;
}

.manage-categories-item-checkbox
{
    background: var(--manage-categories-checkbox);
    --checkbox-size: 21px;
    width: var(--checkbox-size);
    max-width: var(--checkbox-size);
    min-width: var(--checkbox-size);
    height: var(--checkbox-size);
    max-height: var(--checkbox-size);
    min-height: var(--checkbox-size);
    border-radius: 50%;
    transition: background-color 0.125s linear;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.manage-categories-container-full .manage-categories-item-checkbox
{
    margin-right: 10px;
}

.manage-categories-item:hover > .manage-categories-item-checkbox
{
    background: var(--manage-categories-checkbox-hover);
}

.manage-categories-item-active > .manage-categories-item-checkbox
{
    background: #15893C !important;
}

.manage-categories-item-checkbox > svg
{
    fill: white;
    --icon-size: 11px;
}

#manage-categories-bottom,
#toc-bottom
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.toc-item
{
    --toc-item-width: 445px;
    width: var(--toc-item-width) !important;
    min-width: var(--toc-item-width) !important;
    max-width: var(--toc-item-width) !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    cursor: pointer;
    align-items: center;
    color: var(--text-color);
    --toc-item-name-width: 395px;
    transition: background-color 0.125s linear;
    padding: 9px 0px;
    border-radius: 4px;
}

.toc-item:not(.toc-item-active):hover,
.toc-item-active
{
    background-color: var(--toc-item-hover);
}

.toc-item-name
{
    text-align: left;
    width: var(--toc-item-name-width) !important;
    min-width: var(--toc-item-name-width) !important;
    max-width: var(--toc-item-name-width) !important;
}

.toc-item-depth-1
{
    font-weight: 600;
    --toc-item-name-width: calc(445px - 60px);
}

.toc-item-depth-2
{
    --toc-item-name-width: calc(445px - 100px);
}

.toc-item-depth-3
{
    --toc-item-name-width: calc(445px - 150px);
}

.toc-item-depth-4
{
    --toc-item-name-width: calc(445px - 200px);
}

.toc-item-depth-5
{
    --toc-item-name-width: calc(445px - 250px);
}

.toc-item:not(.toc-item-depth-1)
{
    color: var(--subtext-color);
}

.toc-item-page
{
    --toc-item-page-width: 40px;
    width: var(--toc-item-page-width) !important;
    min-width: var(--toc-item-page-width) !important;
    max-width: var(--toc-item-page-width) !important;
    text-align: right;
    margin-right: 10px;
}